<form [formGroup]="form">
  <div class="form-group">
    <label>Contraseña anterior</label>
    <input formControlName="contrasenaAnterior" type="text" class="form-control">
    <div *ngIf="contrasenaAnterior.touched && contrasenaAnterior.invalid" class="alert alert-danger">
      <div *ngIf="contrasenaAnterior.errors.required">Este campo es requerido</div>
      <div *ngIf="contrasenaAnterior.errors.contrasenaInvalida">No coincide con la contraseña anterior</div>
    </div>
  </div>
  <div class="form-group">
    <label>Nueva contraseña</label>
    <input formControlName="contrasenaNueva" type="text" class="form-control">
    <div *ngIf="contrasenaNueva.touched && contrasenaNueva.invalid" class="alert alert-danger">
      <div *ngIf="contrasenaNueva.errors.required">Este campo es requerido</div>      
    </div>
  </div>
  <div class="form-group">
    <label>Confirmar contraseña</label>
    <input formControlName="confirmarContrasena" type="text" class="form-control">
    <div *ngIf="confirmarContrasena.touched && confirmarContrasena.invalid" class="alert alert-danger">
      <div *ngIf="confirmarContrasena.errors.required">Este campo es requerido</div>
    </div>
    <div *ngIf="confirmarContrasena.valid && form.invalid && form.errors.contrasenasNoCoinciden" class="alert alert-danger">
      Las contraseñas no coinciden
    </div>
  </div>
  <button class="btn btn-primary">Cambiar contraseña</button>
</form>
